<!DOCTYPE html>
<html lang="en">

<%-
  include('/common/ejs/head', {
    title: 'Title',
    css: 'index',
  });
%>

<body class="p-main">
  <h2 class="p-main__title">Gulp starter</h2>
  <%- include('/common/ejs/scripts', { js: 'index' }); %>
</body>

</html>
