<!DOCTYPE html>
<html lang="en">

<%-
  include('/common/ejs/head', {
    title: 'Title',
    css: 'index',
  });
%>

<body>
  <%- include('/common/ejs/scripts', { js: 'index' }); %>
</body>

</html>
