// Responsive
$mobile-width: 768px;
$tablet-width: 1024px;

// Colors
$color-success: yellowgreen;
$color-error: tomato;

// Fonts
$font-family-base: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$font-weight-regular: 400;
