// Responsive
$mobile-width: 768px;
$tablet-width: 1024px;

// Colors
$color-light: #fff;
$color-dark: #000;
$color-success: #9acd32;
$color-error: #ff6347;

// Fonts
$font-family-base: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$font-weight-regular: 400;
