// Responsive
$mobile-width: 768px;
$tablet-width: 1170px;

// Colors
$color-white: #fff;
$color-black: #000;

// Fonts
$font-family-base: 'Helvetica', 'Arial', sans-serif;
$font-weight-regular: 400;
